{% extends "dashboard/service_base.html" %}

{% block head_title %}{{object.name}} {% trans %}Locations{% endtrans %}{% endblock %}

{% block service_actions %}
<div class="mr-2">{% include 'dashboard/includes/date_range.html' %}</div>
<a href="{{ contextual_url('dashboard.service', pk=object.uuid) }}" class="button field ~neutral !low bg-neutral-000 w-auto">{% trans %}Analytics{% endtrans %} &rarr;</a>
{% endblock %}

{% block service_content %}
<div class="card ~neutral !low mb-8 pt-2 max-w-full overflow-x-auto">
    <table class="table">
        <thead class="text-sm">
            <tr>
                <th>{% trans %}Location{% endtrans %}</th>
                <th class="rf">{% trans %}Hits{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for location in object_list %}
            <tr>
                <td class="truncate w-full max-w-0 relative">
                    <div class="relative flex items-center">
                        {{location.location|default("Unknown")|urldisplay}}
                    </div>
                </td>
                <td>
                    <div class="flex justify-end items-center">
                        {{location.count|intcomma}}
                        <span class="text-xs rf min-w-48">
                            ({{location.count|percent(hit_count)}})
                        </span>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td><span class="text-gray-600">{% trans %}No data yet...{% endtrans %}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ pagination(page_obj, request) }}
{% endblock %}
