{% extends "base.html" %}

{% block head_title %}{% trans %}Create Service{% endtrans %}{% endblock %}

{% block content %}
<h4 class="heading leading-none">{% trans %}Create Service{% endtrans %}</h4>
<hr class="sep">
<form class="card ~neutral !low p-0 max-w-xl" method="POST">
    {{ csrf_token_input() }}
    <div class="p-4">
        {% include 'dashboard/includes/service_form.html' %}
    </div>
    <div class="section ~urge !normal p-4">
        <button type="submit" class="button ~urge !high">{% trans %}Create{% endtrans %}</button>
        <a href="{{ url_for('dashboard.dashboard') }}" class="button ~urge !low">{% trans %}Cancel{% endtrans %}</a>
    </div>
</form>
{% endblock %}
