{% extends "account/base.html" %}

{% block head_title %}{% trans %}Change Password{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}Change Password{% endtrans %}{% endblock %}

{% block card %}
{% if token_fail %}
{% set passwd_reset_url = url_for('accounts.reset_password') %}
<p>{% trans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endtrans %}</p>
{% else %}
{% if form %}
<form method="POST" action="{{ action_url }}" class="max-w-lg">
    {{ csrf_token_input() }}
    {{ form|a17t }}
    <button type="submit" name="action" class="button ~urge !high">{% trans %}Change Password{% endtrans %}</button>
</form>
{% else %}
<p>{% trans %}Your password is now changed.{% endtrans %}</p>
{% endif %}
{% endif %}
{% endblock %}
