{% extends "account/base.html" %}

{% block head_title %}{% trans %}Change authentication info{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}Change authentication info{% endtrans %}{% endblock %}

{% block card %}
<form method="POST" action="{{ url_for('accounts.change_password') }}" class="password_change max-w-lg">
    {{ csrf_token_input() }}
    {{ form|a17t }}
    <button type="submit" name="action" class="button ~urge !high">{% trans %}Change Password{% endtrans %}</button>
</form>
<hr class="sep">
<div>
    <p class="label mb-1">Personal API token</p>
    <div class="flex justify-between">
      {% if user.api_token %}
      <span class='chip ~info !normal'>{{user.api_token}}</span>
      {% else %}
      <span>Token not generated</span>
      {% endif %}
      <form method="POST" action="{{ url_for('dashboard.api_token_refresh') }}">
        {{ csrf_token_input() }}
        <button type="submit" name="action" class="button ~neutral @high">
          {% if user.api_token %}
          {% trans %}Refresh token{% endtrans %}
          {% else %}
          {% trans %}Generate token{% endtrans %}
          {% endif %}
        </button>
      </form>
    </div>
    <p class="support mt-1">To learn more about the API, see our <a href="https://github.com/milesmcc/shynet/blob/master/GUIDE.md#api">API guide</a>.</p>
</div>
{% endblock %}
