{% extends "account/base.html" %}

{% block head_title %}{% trans %}Sign Up{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}Sign Up{% endtrans %}{% endblock %}

{% block card %}
<aside class="aside ~info">{% trans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a> instead.{% endtrans %}</aside>

<form class="signup max-w-lg" id="signup_form" method="post" action="{{ url_for('accounts.signup') }}">
  {{ csrf_token_input() }}
  {{ form|a17t }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="button ~urge !high">{% trans %}Sign Up{% endtrans %}</button>
</form>

{% endblock %}
