{% extends "account/base.html" %}

{% block head_title %}{% trans %}Verify Email Address{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}Verify Email Address{% endtrans %}{% endblock %}

{% block card %}
{% set email_url = url_for('accounts.email') %}

<p>{% trans %}This part of the site requires us to verify that
you are who you claim to be. For this purpose, we require that you
verify ownership of your email address.{% endtrans %}</p>

<p>{% trans %}We have sent an email to you for
verification. Please click on the link inside this email. Please
try again if you do not receive it within a few minutes.{% endtrans %}</p>

<aside class="aside ~info">{% trans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your email address</a>.{% endtrans %}</aside>
{% endblock %}
